<form method="POST">
     <input type="text" id="sensor_input" name="sensor">
     <input type="text" id="data_input" name="data">
     <input type="submit" name="Submit" value="Insert" class="btn">
</form>
